---
import { SITE_TITLE } from "../consts";

const links = [
  {
    title: "home",
    link: "/",
  },
  {
    title: "about us",
    link: "/about-us",
  },
  {
    title: "blog",
    link: "/blog",
  },
  {
    title: "programming",
    link: "/programming",
  },
  {
    title: "contact us",
    link: "/contact-us",
  },
];
---

<!-- header area start -->
<header x-data="{ open: false }" x-cloak>
  <div class="bg-white border-b border-gray-300 lg:border-gray-100">
    <div class="container px-3 md:px-5">
      <div class="flex justify-between items-center gap-2 py-4">
        <a href="/">
          <img class="h-12" src="/logo.png" alt={SITE_TITLE} loading="lazy" />
        </a>

        <img
          class="h-16 rounded-xl hidden lg:inline-block"
          src="/images/ads/1.jpg"
        />

        <button
          type="button"
          class="lg:hidden inline-block cursor-pointer text-gray-800 hover:text-primary-600"
          @click="open=true"
          aria-label="Show Menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="bottom-header bg-white shadow-xs relative z-30 hidden lg:block">
    <div class="container px-3 md:px-5">
      <div class="py-3.5 flex justify-between items-center">
        <ul class="lg:flex gap-8 items-center hidden">
          {
            links.map((link) => (
              <li>
                <a
                  class="relative transition-all duration-300 ease-in-out font-medium text-gray-800 leading-tight hover:text-primary-600"
                  href={link.link}
                >
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
  <div
    class="relative z-500"
    aria-labelledby="slide-over-title"
    role="dialog"
    aria-modal="true"
    x-show="open"
    x-cloak
  >
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 bg-gray-900/80" aria-hidden="true"></div>

    <div class="fixed inset-0 overflow-hidden">
      <div class="absolute inset-0 overflow-hidden">
        <div
          class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
          x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
          x-transition:enter-start="translate-x-full"
          x-transition:enter-end="translate-x-0"
          x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
          x-transition:leave-start="translate-x-0"
          x-transition:leave-end="translate-x-full"
          x-show="open"
          x-cloak
        >
          <div class="pointer-events-auto w-screen max-w-md">
            <div
              class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl"
            >
              <div class="flex justify-between items-center px-3 py-4 mb-4">
                <a href="/">
                  <img
                    class="h-9"
                    src="/logo.png"
                    alt={SITE_TITLE}
                    loading="lazy"
                  />
                </a>
                <div class="flex items-center gap-x-4 lg:gap-x-6">
                  <button
                    class="bg-white text-gray-black flex hover:text-primary-600 focus:text-primary-600 rounded-lg p-2 focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:outline-hidden"
                    @click="open = false"
                  >
                    <svg
                      class="size-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      data-slot="icon"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18 18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
              </div>
              <ul class="flex flex-col items-center px-3">
                {
                  links.map((link) => (
                    <li class="w-full block">
                      <a
                        class="block px-3 py-2 rounded-md text-gray-800 hover:text-primary-600 hover:bg-gray-50"
                        href={link.link}
                      >
                        {link.title}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->
